<style>
  .search-input{
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 0.2rem 2rem;
    font-size: 0.9rem;
  }
  .btn-search {
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
    font-size: 0.9rem;
  }
  .btn-search:hover {
    background-color: #e03a44;
    color: white;
  }
  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }

  @media (min-width:300px) and (max-width:768px) {
    .search-input {
      display: none;
    }
    .btn-search {
      display: none;
    }
    .btn-search i {
      display: none;
    }
  }

</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass mx-2"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse bg-white my-2 px-5" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings" id="tag">Explore</a>
        </div>
        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-input" type="search" placeholder="Search destinations"/>
            <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Add your home</a>
          <% if (!currentUser) { %>
          <a class="nav-link" href="/signup">Sign Up</a>
          <a class="nav-link" href="/login"><b>Log In</b></a>
          <% } %>
          <% if (currentUser) { %>
          <a class="nav-link" href="/logout"><b>Log Out</b></a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>